.banner-container {
  display: flex;
  justify-content: center;
}

.banner {
  margin: auto;
  background: url("https://res.cloudinary.com/brainzilla/image/upload/v1506055117/pexels-photo-349494_wcjajt.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}

.banner-btn {
  text-align: center;
  position: absolute;
  top: 450px;
  left: 50%;
  color: #000;
  border: 4px solid #000;
  border-radius: 5px;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  transform: translate(-50%, -20%);
  background: rgba(255, 255, 255, 0.2);
  /* transition: padding 0.5s, font-size 0.5s */
}

.banner-btn:hover {
  cursor: pointer;
  /* padding: 22px;
  font-size: 26px; */
}

  @media only screen and (max-width: 480px) {
    .banner {
      background-attachment: scroll;
    }

    .banner-btn {
      font-size: 18px;
      padding: 10px;
      border: 2px solid #000;
    }
  }