.cart-body {
  background: #F5F5F1;
  min-height: 100vh;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-msg {
  padding: 40px;
  font-size: 26px;
  font-weight: 600;
}

.keep-shopping-btn {
  border: 1px solid #E1E3DF;
  height: fit-content;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  background: #fff;
  margin: 40px;
}

.keep-shopping-btn:hover {
  border: 1px solid #c0c3be;
}

.cart-product {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 50%;
}

.cart-product-img {
  width: 170px;
  height: auto;
}

.cart-items {
  width: 91%;
  margin: auto;
}

.cart-product-details {
  margin: 10px;
}

.cart-product-details li {
  margin: 5px 0;
  font-size: 14px;
}

.delete-btn {
  position: absolute;
  right: 50%;
}

.delete-btn img {
  width: 20px;
}
