.logo {
  font-family: "Libre Baskerville", serif;
  margin: 10px 30px;
}

.session-btns button,
.session-btns a,
.logo {
  color: #e55400;
}

.session-btns a:hover,
.session-btns button:hover {
  color: #6b2a06;
}

.session-nav {
  margin: 16px 10px;
}

.session-btns li {
  float: left;
  margin: 5px 15px;
}

.cart-icon {
  width: 30px;
  margin: -6px 0;
}

.cart-num {
  background: #e55400;
  color: #fff;
  float: right;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 2px;
  position: absolute;
  top: 21px;
  right: 25px;
}

.empty-cart {
  background: white;
}
.session-btns .welcome-msg {
  color: #787878;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e1e3df;
  padding: 10px;
  background-color: #fff;
}

.search-form {
  margin: 15px 0;
  margin-right: auto;
}

.search-btn:hover {
  background: #b85a24;
}

.search-btn {
  font-size: 15px;
  background: #eb732e;
  color: white;
  border: 1px solid #eb732e;
  width: 80px;
  height: 28px;
  border-radius: 0px 3px 3px 0px;
  line-height: 17px;
}

.search-btn:hover {
  cursor: pointer;
}

.search-input {
  font-size: 14px;
  width: 250px;
  border: 1px solid #e1e3df;
  height: 24px;
  margin-right: -2px;
  border-radius: 3px 0px 0px 3px;
  padding: 1px;
}

.categories-nav {
  border-bottom: 1px solid #e1e3df;
  height: 30px;
}

.categories-nav a:hover {
  color: #000;
}

.categories-nav ul {
  margin: 12px 20px;
}

.categories-nav li {
  float: left;
  margin: 0 20px;
}

.categories-nav a {
  color: #777;
  font-size: 14px;
}

@media only screen and (max-width: 860px) {
  .logo {
    font-size: 24px;
    margin: 10px 10px;
  }

  .session-nav {
    margin: 10px 0;
  }

  .search-sub-header {
    border-bottom: 1px solid #e1e3df;
    display: flex;
  }

  .search-form {
    margin: 20px 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .search-input {
    width: 80%;
  }

  .search-btn {
    width: 20%;
  }

  .categories-nav li {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .cart-num {
    right: 10px;
    top: 15px;
  }

  .session-btns li a,
  .session-btns li button {
    font-size: 12px;
  }

  .welcome-msg { display: none; }

  .session-btns li {
    margin: 5px 5px;
  }

  .search-btn {
    font-size: 12px;
  }


}
