/* Product Show */

.product-show-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}

.product-image {
  max-width: 50%;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  margin-right: 10%;
}

.product-show-price {
  font-size: 24px;
}

.product-detail-list, .product-detail-list li {
  margin: 20px 0;
}

.product-extras {
  border-top: 1px solid #E1E3DF;
  margin-top: 20px;
}

.comments-section {
  margin: 20px 85px;
}

.comment-body {
  width: 275px;
  height: 60px;
  border: 1px solid #ced3ca;
  border-radius: 3px;
  resize: none;
  padding: 5px;
}

.add-comment-btn {
  margin: 10px 0;
  width: 120px;
  background-color: whitesmoke;
  border: 1px solid #E1E3DF
}

.add-comment-btn:hover {
  cursor: pointer;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-list-item {
  margin: 10px 0;
}

.comment-list-item li {
  margin-bottom: 5px;
  font-size: 14px;
}
