body {
  font-family: 'Lato', sans-serif;
}

.main-content {
}

h1 {
  font-size: 34px;
  font-weight: 400
}

button, .session-btns a, .session-btns li, .logo {
  color: #E55400;
}

button {
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding: 0;
}

a:hover, button:hover {
  cursor: pointer;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  margin: 10px 30px;
}

.session-nav {
  margin: 10px 30px;
}

.session-btns li {
  float: left;
  margin: 5px 15px;
}

.session-btns button {
  margin: -1px 0;
}

.cart-icon {
  width: 30px;
  margin: -6px 0;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E3DF;
  padding: 10px;
  background-color: #fff;
}

.auth-form-title {
  margin-bottom: 10px;
  font-size: 30px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form-text-input {
  width: 300px;
  line-height: 20px;
  font-size: 16px;
  padding: 5px;
}

.auth-form input {
  margin: 10px 0;
}

.add-to-cart-btn, .auth-form input[type=submit] {
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  border: 1px solid #E1E3DF;
  background: #EB732E;
  padding: 10px 40px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 15px;
}

.add-to-cart-btn:hover, .auth-form input[type=submit]:hover {
  cursor: pointer;
  background: #B85A24;
}

.nav-link-list {
  display: flex;
  margin: 5px 0;
}

.nav-link-list a {
  color: #0B4FF7;
  margin-left: 10px;
}

.errors {
  color: red;
}

/* product index */

.main-index {
  height: 100%;
}

.product-row {
  margin: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-top: 40px;
  padding-right: 75px;
}

.product-thumb {
  max-width: 100%;
}

.product-item-container {
  text-align: center;
}
