body {
  font-family: 'Lato', sans-serif;
}

.main-content {
}

h1 {
  font-size: 34px;
  font-weight: 400
}

.session-btns button, .session-btns a, .session-btns li, .logo {
  color: #E55400;
}

button {
  border: none;
  background-color: inherit;
  font-size: 16px;
  padding: 0;
}

a:hover, button:hover {
  cursor: pointer;
}

.logo {
  font-family: 'Libre Baskerville', serif;
  margin: 10px 30px;
}

.session-nav {
  margin: 16px 30px;
}

.session-btns li {
  float: left;
  margin: 5px 15px;
}

.session-btns button {
  margin: -1px 0;
}

.cart-icon {
  width: 30px;
  margin: -6px 0;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E1E3DF;
  padding: 10px;
  background-color: #fff;
}

.search-form {
  margin: 15px 0;
  margin-right: auto;
}

.search-btn {
  font-size: 15px;
  background: #EB732E;
  color: white;
  border: 1px solid #EB732E;
  width: 80px;
  height: 29px;
  border-radius: 0px 3px 3px 0px;
  line-height: 17px;
}

.search-btn:hover {
  cursor: pointer;
}

.search-input {
  font-size: 14px;
  width: 250px;
  border: 1px solid #E1E3DF;
  height: 24px;
  margin-right: -2px;
  border-radius: 3px 0px 0px 3px;
  padding: 1px;
}

.categories-nav {
  border-bottom: 1px solid #E1E3DF;
}

.categories-nav ul {
  margin: 12px 40px;
}

.categories-nav a {
  color: #777;
  font-size: 14px;
}

.categories-nav a:hover {
  color: #000;
}

.auth-form-title {
  margin-bottom: 10px;
  font-size: 30px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form-text-input {
  width: 300px;
  line-height: 20px;
  font-size: 16px;
  padding: 5px;
}

.auth-form input {
  margin: 10px 0;
}

.add-to-cart-btn, .auth-form input[type=submit] {
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  border: 1px solid #E1E3DF;
  background: #EB732E;
  padding: 10px 40px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 15px;
}

.add-to-cart-btn:hover, .auth-form input[type=submit]:hover {
  cursor: pointer;
  background: #B85A24;
}

.nav-link-list {
  display: flex;
  margin: 5px 0;
}

.nav-link-list a {
  color: #0B4FF7;
  margin-left: 10px;
}

.errors {
  color: red;
}

/* product index */

.main-index {
  height: 100%;
}

.product-row {
  margin: auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-top: 40px;
  padding-right: 75px;
}

.product-thumb {
  max-width: 100%;
}

.product-item-container {
  text-align: center;
}
